.main-footer {

margin-top: 150px;
color: #1B1A17;
opacity: 0.9;




    p {
        font-size: 12px;
        
    }
    a {
        color: #1B1A17;
        font-weight: 100;
        
    }
    .everiso {
        margin: 50px 0 50px 0;
    }
    .phone-num {
        padding-bottom: 50px;
    }
}